<div class="card">
    <h5 class="card-header">Holiday Details</h5>
    <div class="card-body">
        <table class="tb-5 mt-2">
            <thead>
            <tr>
                <th>Date</th>
                <th>Holiday</th>
                <th>Day</th>
               
              </tr>
            </thead>
            <tbody *ngFor="let i of [0,1,2,3]">
              <tr *ngIf="holidays[i]">
                <td>{{ holidays[i].date | date: 'shortDate'}}</td>
                <td>{{ holidays[i].holiday }}</td>
                <td>{{ holidays[i].day }}</td>
              </tr>
            </tbody>
          </table>
    <a routerLink="/Holidays" class="pt-5" routerLinkActive="active">See more</a>

    </div>
</div>
