<h2 *ngIf="examInvigilations" style="text-align: center">Invigilation Schedule</h2>
<h2 *ngIf="examschedule" style="text-align: center">Examination Schedule</h2>
<br>
<table class="table-bordered" border="5" cellspacing="0" align="center">
    <!--<caption>Timetable</caption>-->
    <thead>
    <tr>
        <td *ngIf="examInvigilations" align="center" height="70"
            width="100">
            <b>Class</b>
        </td>
        <td *ngIf="examInvigilations" align="center" height="70"
            width="100">
            <b>Section</b>
        </td>
        
        <td align="center" height="70"
            width="150">
            <b>Date</b>
        </td>
        <td align="center" height="70"
            width="150">
            <b>Day</b>
        </td>
        <td align="center" height="70"
            width="150">
            <b>Subject</b>
        </td>
    </tr>
    </thead>
    <tbody *ngFor="let invigilatioInfo of examInvigilations">
        <!-- <tr *ngIf="f.teacherId === details?.Id"> -->
        <tr>
            <td align="center" height="50">
                <b>{{invigilatioInfo.Class}}</b></td>
            <td align="center" height="50">
                <b>{{invigilatioInfo.Section}}</b></td>
            <td align="center" height="50">
                <b>{{invigilatioInfo.schedule.date | date: 'shortDate'}}</b></td>
            <td align="center" height="50">
                <b>{{invigilatioInfo.schedule.day}}</b></td>
            <td align="center" height="50">
                <b>{{invigilatioInfo.schedule.subject}}</b></td>
        </tr>
    </tbody>

     <tbody *ngFor="let exam of examschedule">
        <tr>
            <td align="center" height="50">
                <b>{{exam.date | date: 'shortDate'}}</b></td>
            <td align="center" height="50">
                <b>{{exam.day}}</b></td>
            <td align="center" height="50">
                <b>{{exam.subject}}</b></td>
            
        </tr>
    </tbody>
</table>