<div class="sidenav">
    <a routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Dashboard</a>
    <a routerLink="holidays" routerLinkActive="active">Holidays</a>
    <a routerLink="/schedule" routerLinkActive="active">Daily Schedule</a>
    <a routerLink="/attendance" routerLinkActive="active">Attendance</a>
    <a routerLink="examinations" routerLinkActive="active">Examinations</a>
    <a routerLink="/leaveApplication" routerLinkActive="active">Leave Management</a>
    <a routerLink="/library" routerLinkActive="active">Library</a>
    <!-- <a routerLink="" routerLinkActive="active">Transport</a>
    <a routerLink="" routerLinkActive="active">Fees</a>
    <a routerLink="" routerLinkActive="active">Parent Area</a> -->
</div>