<div class="sidenav">
    <a routerLink="/Dashboard" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Dashboard</a>
    <a routerLink="Holidays" routerLinkActive="active">Holidays</a>
    <a routerLink="Schedule" routerLinkActive="active">Daily Schedule</a>
    <a routerLink="" routerLinkActive="active">Attendance</a>
    <a routerLink="examinations" routerLinkActive="active">Examinations</a>
    <a routerLink="/leaveApplication" routerLinkActive="active">Leave Management</a>
    <a routerLink="" routerLinkActive="active">Library</a>
    <a routerLink="" routerLinkActive="active">Transport</a>
    <a routerLink="" routerLinkActive="active">Fees</a>
    <a routerLink="" routerLinkActive="active">Parent Area</a>
</div>