<div class="card">
  <h5 class="card-header">Student Leave Details</h5>
  <div class="card-body">
<div *ngIf="storedLeaves" class="leave-table">
  
    <table class="">
        <thead>
        <tr>
            <th  *ngIf="issuer == 'teacher'">Student Id</th>
            <th  *ngIf="issuer == 'teacher'">Student Name</th>
            <th>Status</th>
            <th>Date</th>
            <th>Reason</th>
           
          </tr>
        </thead>
        <tbody *ngFor="let leave of storedLeaves">
          <tr *ngIf="leave.studentId == userIn.studentId && issuer == 'student'">
            <td>{{ leave.status }}</td>
            <td>{{ leave.fromDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{ leave.reason }}</td>
          </tr>
          <tr *ngIf="issuer == 'teacher'">
            <td>{{leave.studentId}}</td>
            <td>{{leave.studentName}}</td>
            <td>{{ leave.status }}</td>
            <td>{{ leave.fromDate }}</td>
            <td>{{ leave.reason }}</td>
          </tr>
        </tbody>
      </table>
    <!-- <app-leave-application></app-leave-application> -->
  </div>
</div>
</div>
