<ul>
  <li><p class="" style="padding: 10%;margin: 1%; color: aliceblue;">{{emailId}}</p></li>
  
  <div class="w3-dropdown-hover w3-right" >
  <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    <li><a (click)="logout()">Logout<i class="fa fa-sign-out" aria-hidden="true"></i>
  </a></li>
    <!-- <button class="w3-button bg-light">Dropdown</button>
    <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0; background-color: black;">
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div> -->
  </div>
</ul>